<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Multinet.js - A visualization framework for large multi-layered graphs</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">

    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-colorpicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-67937718-1', 'auto');
	  ga('send', 'pageview');

	</script>
	
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--a class="navbar-brand" href="#page-top">MultiNet.js</a-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Examples</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Get started</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">MultiNet.js</span>
                        <!--hr class="star-light"-->
                        <span class="skills">A visualization framework for large, dynamic and multi-layered graphs developed by the 
                        	<a href="http://www.sg.ethz.ch" target="_blank">Chair of Systems Design</a> at  
                        	<a href="http://www.ethz.ch" target="_blank">ETH Zurich</a>
                        </span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
            		{% if errors is defined %}
                    <div class="intro-text" style="padding:25px 0 0 0;">
                        <span class="skills text-danger">{{ errors }}</span>
                    </div>
            		
            		{% endif %}
                </div>
            </div>
        </div>
    </header>

            


    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">



            <div class="row">
                <div class="col-lg-4">
                    <p></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="https://github.com/sg-dev/multinet.js" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> GitHub
                    </a>
                </div>
            </div>
      </section>
      
      <section id="portfolio" class="success">    
            <div class="row">
                <div class="col-lg-12">
                 
                </div>
           	</div>
           	
           
           	<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
           	</div>
  
                   
            <div class="row">
                <div class="col-sm-4 portfolio-item ">
           
                	<span class="portfolio-link text-center feature-link" data-toggle="modal">
                        <div class="caption">
                            <div class="feature-content">
								<p>	
									Navigate through the graph by selecting single or node multiple nodes on the graph or on the data view.
									1- and 2-order neighborhoods will highlighted in all layers
								</p>
                    
                            </div>
                        </div>                      
						<p class="feature-title">Navigation</p>
                        <img src="{{ url_for('static', filename='img/viz_table_selection.png') }}" class="img-responsive feature-img" alt="">
                    </span>

                </div>
             
        

        
                 <div class="col-sm-4 portfolio-item">
                	<span class="text-center feature-link" data-toggle="modal">
                            <div class="feature-content">
								<p>	
									Filter edges based on their timestamps and replay the evolution of the network by selecting a time window and using the player
								</p>
                            </div>
                        <p class="feature-title">Replaying</p>    	
                    	<span class="glyphicon glyphicon-play feature-icon" style=""></span>
                    </span>
                </div>
         
                 <div class="col-sm-4 portfolio-item">
                	<span class="portfolio-link text-center feature-link" data-toggle="modal">
                		<div class="caption">
                            <div class="feature-content">
								<p>	
									A perspective and an orthographic camera are available for 3D navigation. 2D navigation is also possible where all layers are rendered side by side.
								</p>
                    
                            </div>
                        </div>
                        <p class="feature-title">Camera Options</p>
                        <img src="{{ url_for('static', filename='img/ortographic.jpeg') }}" class="img-responsive feature-img" alt="">
                    </span>
	
                </div>

        

            </div>
           
           
           
            <div class="row">
            
            
                <div class="col-sm-4 portfolio-item">
                	<span class="text-center feature-link" data-toggle="modal">
                            <div class="feature-content">
								<p>	
									Each visualization generates a specific url which returns the cached version of the graph which can be copied and distributed.
								</p>
                            </div>
                        <p class="feature-title">Sharing</p>    	
                    	<span class="glyphicon glyphicon-share-alt feature-icon" style=""></span>
                    </span>
                </div>
                	

 
    
                 <div class="col-sm-4 portfolio-item">
                	<span class="portfolio-link text-center feature-link" data-toggle="modal">
                		<div class="caption">
                            <div class="feature-content">
								<p>	
									Edit the color of each layer and scale nodes wrt. different graph properties to get different visual results.
								</p>
                            </div>
                        </div>
                        <p class="feature-title">Styling</p>
                        <img src="{{ url_for('static', filename='img/vizStyling.jpeg') }}" class="img-responsive feature-img" alt="">
                    </span>
	
                </div>
 
                  <div class="col-sm-4 portfolio-item">
                	<span class="text-center feature-link" data-toggle="modal">
                            <div class="feature-content">
								<p>	
									Take a snapshot of the graph at any time preserving the camera perspective and the time filters applied. 
								</p>
                            </div>
                        <p class="feature-title">Snapshot</p>    	
                    	<span class="glyphicon glyphicon-camera feature-icon" style=""></span>
                    </span>
               	 </div>
                 

            </div>
           
           
        </div>
    </section>



    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Examples</h2>
                    <!--hr class="star-primary"-->
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="{{ url_for('share', dataset='politics_ch_twitter', hash=None) }}" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus"></i>
                                <p>340 nodes, 20,404 edges, 3 layers</p>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/MNtwitter.jpeg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                

                <div class="col-sm-4 portfolio-item">
                    <a href="{{ url_for('share', dataset='politics_sample_2', hash=None) }}" target="_blank"  class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus"></i>
                                <p>2,697 nodes, 10,000 edges, 3 layers</p>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/MN3Layers.jpeg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                
                <div class="col-sm-4 portfolio-item">
                    <a href="{{ url_for('share', dataset='uk_metro_subset', hash=None) }}" target="_blank"  class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus"></i>
                                <p>6,131 nodes, 14,899 edges, 6 layers</p>
                            </div>
                        </div>
                        <img src="{{ url_for('static', filename='img/MNuksubway.jpeg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
        	
        	
        	           	
           	<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Getting Started</h2>
                    <!--hr class="star-light"-->
                </div>
            </div>
            
             <div class="row">
                <div class="col-lg-12 text-center">
                    <p></p>
                </div>
            </div>
            
            
            <div class="row">
            
                <div class="col-sm-8 col-sm-offset-2">
			
					<p>
						<span>
							Fill in the form below to receive an active URL.
						</span>
					</p>
					<p>
						<span>
							With your access URL, upload an edgelist with four colums where the header is <strong>source</strong>;<strong>target</strong>;<strong>layer</strong>;<strong>timestamp</strong> 
						</span>
					</p>
				
				</div>
                <div class="col-sm-8 col-sm-offset-3 discussion-options">

					<p>
						<span>
							<strong>layer</strong> stands for the identifier of the layer which the edge belongs to. 
							The tool supports arbitrary number of layers.
						</span>
					</p>
					<p>
						<span>
							<strong>timestamp</strong> can be a date string in <strong>YYYY-MM-DD</strong> format, or just years
						</span>
					</p>
				</div>
				<div class="col-sm-8 col-sm-offset-2">
		
					<p>
						<span>
							Once an edgelist is uploaded, the rendering can be started immediately. But there are more options:
						</span>
					</p>				
				 </div>
				 <div class="col-sm-8 col-sm-offset-3 discussion-options">		
						<p><strong>Upload node attributes</strong> Uploading node ids used in the edgelist and an arbitrary number of attributes, separated by a <strong>;</strong> 
							will allow you to navigate through the nodes from within a formatted table.</span></p>
						<p><strong>Select layout</strong> The Fruchterman-Reingold is the default and it is the parallel version of the standard layout algorithm in the igraph package.</span></p>
						<p><strong>Choose directedness</strong></p>
						
					
				 </div>         

            </div>
        	
        	             <div class="row">
                <div class="col-lg-12 text-center">
                    <p></p>
                </div>
            </div>
            
        	
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate method="post" action="#">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter a valid email address to receive your access code.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Institute/Company</label>
                                <input type="text" class="form-control" placeholder="Institute/Company" id="institute" required data-validation-required-message="Please enter your institute/company name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Motivation</label>
                                <textarea rows="5" class="form-control" placeholder="Motivation" id="message" required data-validation-required-message="Please tell us in a couple sentences why you will use this tool."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
   								<input type="checkbox" name="terms" required data-validation-required-message="You must agree to the terms and conditions">
   									<span class="terms">I agree to the <b class="terms">terms and conditions</b></span>
   								</input>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        
                        
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 text-center">
                                <button type="submit" class="btn btn-success btn-lg">Request Access</button>
                            </div>
                        </div>
                    </form>
                    
                    <div id="terms">
                   		<div class="row">
            
            	           	<i id="terms" class="glyphicon glyphicon-remove" style="float:right;margin-right:20px;"></i>
            	        </div>
            	        <div class="row">
            	        	
			                <div class="col-sm-8 col-sm-offset-2">
								<p>
									<span>
										Chair of Systems Design is not liable for any unexpected exposure of the resulting plots.
										Chair of Systems Design will not store or make use of any of the uploaded data. The user data can be deleted on the user's request, or within 24 hours after the upload 
									</span>
								</p>
							
							</div>
						</div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <!--div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div-->
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; multinets.io 2015 | 
                        	<a href="http://www.sg.ethz.ch" target="_blank">Chair of Systems Design</a> | 
                        	<a href="http://www.ethz.ch" target="_blank">ETH Zurich</a> 
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 contact">
                    	Contact:  
                        <a href="mailto:semre@ethz.ch" target="_blank">es</a> 
                        <a href="mailto:flo@fhahn.com" target="_blank">fh</a> 
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>



    <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.11.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.js') }}"></script>

    <!-- jQuery -->
    <!--script src="{{ url_for('static', filename='js/jquery.js') }}"></script-->

    <!-- Bootstrap Core JavaScript -->
    <!--script src="{{ url_for('static', filename='js/bootstrap2.min.js') }}"></script-->

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <!--script src="{{ url_for('static', filename='js/cbpAnimatedHeader.js') }}"></script-->

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer.js') }}"></script>




	<script>
	    $('i#terms').click(function(){
        	$('div#terms').hide(100); //slideUp(1000);
    	}); 
	    $('div#terms').click(function(){
    	    $('div#terms').hide(100); //slideUp(1000);
	    }); 

	    $('b.terms').click(function(){
    	    $('div#terms').show(100); //slideUp(1000);
	    }); 
	</script>

</body>

</html>